.blog-carousel {
  width: 50%;
  position: relative;
  padding: 15px;
  background-color: #fff;
}

.slider-section {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.carousel-image {
  width: 100%;
  height: 27em;
  object-fit: cover;
}

.intro-section {
  position: absolute;
  top: 56%;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.continue-reading-link {
  display: block;
  color: #FFF;
  text-decoration: none;
  padding: 49px 67px;
  background-color: #211d46;
  border-radius: 7px;
  margin-top: 87px;
  width: 182%;
}

.continue-reading-link h6 {
  width: fit-content;
}

.stn-header {
  text-decoration: underline;
  display: block;
  justify-content: center;
  text-decoration-thickness: 6px;
  text-orientation: mixed;
  border-bottom: 2px solid black;
  padding: 0px 0px -1px 0px;
}

@media only screen and (max-width: 500px){
  .blog-carousel {
    width: auto;
  }

  .intro-section {
    top: 50%; 
  }

  .cardLogo {
    width: 146%;
  }

  .continue-reading-link {
    padding: 20px; 
  }
}
