.body {
    background-color: azure;
    height: 100vh;
}

.directors-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    gap: 10%;

}

.directors {
    width: 32%;
    height: fit-content;
}

.directors-section div img {
    border-radius: 100%;
}

 
@media only screen and (max-width: 768px) {
    
    .directors-body{
        gap: 29%;
    }


  }