.body {
  background-color: azure;
  height: 100vh;
}

.directors-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  gap: 10%;
}

.directors {
  width: 25%;
  height: auto;
  box-shadow: 3px 11px 21px;
  padding: 2px;
  margin-bottom: 10%;
}

.directors-content h1 {
  font-weight: 800;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.directors-card {
  width: 48% !important;
}


.row {
  gap: 26px;
}

.link-sctn {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.social-links {
  gap: 5px;
  display: flex;
  justify-content: flex-start;
}

.directors-image {
  display: flex;
  gap: 20px;
}

.directors-content {
    width: 100%;
}

.directors-link {
  display: flex;
  flex-direction: column;
}

.director-img {
    width: 46%;
    height: 10%;
}

.leaderhead {
  font-family: fantasy;
  font-size: 20px;
  text-decoration: underline;
}

.fa-iconlinks {
  color: unset !important;
}

@media only screen and (max-width: 768px) {
    
    .directors-body{
      gap: 31px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
    }

    .directors {
      width: 100%;
    }

    .directors-link {
        display: flex;
    }

    .directors-image {
      width: 30%;
    }

    .directors-card {
      width: 100% !important;
    }


}