/* Add these styles to your CSS file or component */

.executive-director-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:white;
  }
  
  .executive-director-image {
    width: 200px; 
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .executive-director-text {
    margin: 0 auto;
    font-family: Arial; 
    line-height: 1.6;
    text-align: left;
  }
  
  .executive-director-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .executive-director-text p {
    margin-bottom: 15px;
    padding: 4%;
  }

  .intro-ed {
    font-family: fantasy;
    font-size: 20px;
    margin-top: 2%;
    padding: 4%;
    align-items: center;
  }
  
  .executive-director-text p:last-child {
    margin-bottom: 0;
  }
  
  .executive-director-text p a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .executive-director-text p a:hover {
    text-decoration: underline;
  }