.footerSection {
    background-color: rgb(6, 6, 40);
    padding: 3%;
    border-radius: 10px;
    color: #fff;
}

.inner-sctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    color: #fff;
}

.icons {
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 16px;
width: -moz-fit-content;
flex-wrap: wrap;
}

.contentContainer4 {
    width: 33%;
    height: 8em;
}

.contentContainer4 div a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
}

.get-newsletter {
    padding: 10px;
}