.topContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 14%;
}

.carousel {
    width: 50%;
    background-color: aqua;
}

.events-section {
    width: 50%;
    background-color: aquamarine;
}

.events-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.press-releases {
    width: 50%;
    background-color:bisque;
    padding: 10px;
    margin: 10px;
}

.missions-section {
    width: 100%;
    padding: 5px;
    background-color: blueviolet;

}

.featured-videos {
    margin-top: 3%;
    width: 75%;
}

.video-container {
    display: flex;
    flex-direction: row;
    gap: 2%;
}