nav {
    background-color: #fff;
    display: flex;
  }
  
  .list-nav {
    width: 69%;
    display: flex;
    justify-content: left;
    gap: 6%;
    list-style: none;
    flex-direction: row;
    margin-block-start: 0;
    margin-block-end: 0;
    align-items: center;
    border-bottom: 3px solid #0758c1;
    background-color: #fff;
    padding: 1px;
  }

  .list-nav li {
    padding: 8px;
    border-left: 3px solid #0758c1;
    font-size: 21px;
  }

  .list-nav li:last-child {
    margin-right: 0;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown a {
    /* font-size: 20px; */
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000c9;
    min-width: max-content;
    list-style: none;
    box-shadow: -14px 8px 13px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-inline-start: 0px;
    transform: translateY(-89px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .dropdown-content li {
    padding: 14px;
    border: 1px solid gold;
} 

  .dropdown-content li a {
    color: #fff !important;
  }

  .dropdown-content li a:hover {
    color: gold !important;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  
  a {
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
    font-size: 16px;
    font-family: 'system-ui';
    font-weight: bold;
  }
  
  a:hover {
    color: #ffcc00 !important;
  }
  
  .logo-div {
    width: 100%;
    display: flex;
    align-items: center;
    height: 6em;
    background-color: rgb(0, 0, 255);
  }

  .logo {
    height: 7em;
  }

  .topnav {
    width: 100%;
  }

.top-nav {
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  z-index: 9999;
  position: relative;
}

.topNav-link {
  margin-right: 2px;
}

.topNav-link a {
  color: #fff !important;
}

.topNav-link :focus {
  background-color: #ffcc00;
}

.topNav-links span {
  width: 33%;
  height: auto;
}

.ad {
  animation: slide 9s ease-in-out alternate;
}

.error-text {
  color: red;
}


@keyframes slide {
  0% { transform: translateY(0); opacity: 1; }
  30% { opacity: 0; }
  40% { transform: translateY(-100%); opacity: 1;}
}

/* .search {
  position: absolute;
  left: 74%;
  z-index: 999;
  background-color: #0d6efd;
  padding: 11px;
  bottom: 45.5%;
  border-radius: 141px;
} */

.searchContainer {
    position: relative;
    width: 40%;
}
.searchbtn {
  font-size: 2em;
  color: #fff;
  padding: 7px;
}

.search input {
  border-radius: 20px;
  width: 84%;
  padding: 12px;
}

.topNav-links ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  color: #fff;
}

.top-social-link a {
  padding: 10px;
}

.mail-top-nav {
  color: #fff !important;
}
.logo-content {
  display: flex;
  align-items: center;
  color: #fff;
}

.hamburger-btn {
  display: none;
}

.listclose {
  display: none;
}

.search-input {
  width: 86%;
}

.user-links {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .hamburger-btn {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    padding: 7px;
  }

  .list-nav {
    flex-direction: column;
    position: relative;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: none;
    transition: transform 0.3s ease-in-out;
  }

  @keyframes navslider {
   from {
    transform: translateX(-100%);
   } to {
    transform: translateY(0);
   }
  }

  .list-nav.open {
    display: flex;
    height: 100vh;
    animation: navslider 0.3s ease-in-out;
  }

  .list-nav li {
    border-left: none;
    border-bottom: 1px solid;
    padding: 10px;
  }

  .listclose {
    position: inherit;
    align-self: flex-end;
    display: block;
    font-size: 30px;
  }

  .list-nav button {
    font-size: 20px;
    font-weight: bold;
    align-self: self-end;
    padding: 24px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
