.press-release-img {
    background-image: url('/ad.png');
}

.press-release-img:hover {
    opacity: 10;
}

.slide-1 {
    background-image: url('/safetytransport.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
.slide-2 {
  background-image: url('/IMG_3892.jpg');
  background-size: cover;
}