
:root {
    --light: #E0F4FF;
    --primary: #87C4FF;
    --secondary: #39A7FF;
    --cream: #FFEED9;
    --blue: #0caceb;
    --white: white;
    --black: black;
}
.front-page {
    display: flex;
    background-color: #FFEED9;
    width: 100%;
    height: 100%;
  }
  
  .header {
    background-color: white;
    color: black;
    align-items: center;
    width: 100%;
    position: fixed;
    box-shadow: 0px 3px 5px #888888;
  }
  .header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin-left: 20px;
  }
  .logo h2 {
    font-size: 25px;
    font-weight: 700;
  }
  .links {
    margin-right: 20px;
  }
  .links button,
  .post button {
    padding: 8px 15px;
    color: var(--white);
    font-size: 17px;
    font-weight: 800;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
  }
  
 .sidebar {
    margin-top: 80px;
    background-color: var(--light);
    padding: 10px;
    width: 200px;
    height: 100%;
    position: fixed;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar .menu h2 {
    color: #39A7FF;
    font-size: 30px;
    font-weight: 700;
  }
  
  .sidebar .details ul li {
    list-style: none;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid black
   
  }
  .sidebar .details ul li:hover {
    color: #39A7FF;
  }
  .content-area {
    margin-top: 70px;
    margin-left: 250px;
    padding: 10px;
  }
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 90;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    overflow: auto;
}

.modal-content {
    background-color: #fff; 
    padding: 20px;
    border-radius: 5px;
    overflow: auto;
    height: 600px;
    margin-bottom: 70px;
}

  .form{
    margin: 0 auto;
    overflow: auto;
  }
  .content-area .post-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: auto;
  }
  .content-area form {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 400px;
  }

  .content-area form input, select, textarea {
    border: 1px solid var(--primary);
    outline: none;
    border-radius: 3px;
    padding: 5px;
  }
  .content-area form textarea {
    resize: vertical;
  }
  .content-area form label {
    font-weight:600;
    margin-top: 10px;
    margin-bottom: 3px;
  }

  .content-area form .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .content-area form button {
    padding: 8px 25px;
    border-radius: 5px;
    background-color: var(--secondary);
    border: none;
    font-size: 18px;
    color: var(--white);
    font-weight: 600;
}
.content-area form button:hover{
    background-color: var(--primary);
    color: var(--black);
}